In [15]:
import pandas as pd

In [ ]:
# https://stackoverflow.com/questions/44663303/datetime-set-seconds-to-00
# https://stackoverflow.com/questions/993358/creating-a-range-of-dates-in-python

import datetime

seconds = 50
base = datetime.datetime.today()
base = base.replace(microsecond=0,second=0, minute=0, hour=0, day=21, month=3)
date_list = [base + datetime.timedelta(seconds=x) for x in range(seconds + 1)]

2025-03-21 00:00:00   NaN
2025-03-21 00:00:01   NaN
2025-03-21 00:00:02   NaN
2025-03-21 00:00:03   NaN
2025-03-21 00:00:04   NaN
2025-03-21 00:00:05   NaN
2025-03-21 00:00:06   NaN
2025-03-21 00:00:07   NaN
2025-03-21 00:00:08   NaN
2025-03-21 00:00:09   NaN
2025-03-21 00:00:10   NaN
2025-03-21 00:00:11   NaN
2025-03-21 00:00:12   NaN
2025-03-21 00:00:13   NaN
2025-03-21 00:00:14   NaN
2025-03-21 00:00:15   NaN
2025-03-21 00:00:16   NaN
2025-03-21 00:00:17   NaN
2025-03-21 00:00:18   NaN
2025-03-21 00:00:19   NaN
2025-03-21 00:00:20   NaN
2025-03-21 00:00:21   NaN
2025-03-21 00:00:22   NaN
2025-03-21 00:00:23   NaN
2025-03-21 00:00:24   NaN
2025-03-21 00:00:25   NaN
2025-03-21 00:00:26   NaN
2025-03-21 00:00:27   NaN
2025-03-21 00:00:28   NaN
2025-03-21 00:00:29   NaN
2025-03-21 00:00:30   NaN
2025-03-21 00:00:31   NaN
2025-03-21 00:00:32   NaN
2025-03-21 00:00:33   NaN
2025-03-21 00:00:34   NaN
2025-03-21 00:00:35   NaN
2025-03-21 00:00:36   NaN
2025-03-21 00:00:37   NaN
2025-03-21 00:00:38   NaN
2025-03-21 00:00:39   NaN
2025-03-21 00:00:40   NaN
2025-03-21 00:00:41   NaN
2025-03-21 00:00:42   NaN
2025-03-21 00:00:43   NaN
2025-03-21 00:00:44   NaN
2025-03-21 00:00:45   NaN
2025-03-21 00:00:46   NaN
2025-03-21 00:00:47   NaN
2025-03-21 00:00:48   NaN
2025-03-21 00:00:49   NaN
2025-03-21 00:00:50   NaN
dtype: float64

In [61]:
video_duration = 55
seconds_list = list(range(video_duration + 1))
seconds_list
empty_series = pd.Series(index=range(video_duration + 1), dtype=str)
pd_labels = pd.DataFrame(empty_series, columns=['label'])
pd_labels.index.name = 'seconds'
# pd_labels.iloc[0:2]='Hello'
# pd_labels

In [62]:
# https://www.geeksforgeeks.org/read-json-file-using-python/
import json


# Open and read the JSON file
with open('mock.json', 'r') as file:
    data = json.load(file)

print(data)

# Print the data
for rangeLabel in data:
    label = rangeLabel['label']
    ranges_clip = rangeLabel['rangesClip']
    for range_clip in ranges_clip:
        start_range = range_clip['rStart']/100*video_duration
        end_range = range_clip['rEnd']/100*video_duration

        start_range = int(start_range)
        end_range = int(end_range)
        pd_labels.iloc[start_range:end_range+1] = label

pd_labels

[{'rangesClip': [{'id': '1741897471965', 'rStart': 0, 'rEnd': 10}], 'label': 'normal'}, {'label': 'abnormal', 'rangesClip': []}, {'rangesClip': [], 'label': 'NA'}]

          label
seconds
0        normal
1        normal
2        normal
3        normal
4        normal
5        normal
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
30          NaN
31          NaN
32          NaN
33          NaN
34          NaN
35          NaN
36          NaN
37          NaN
38          NaN
39          NaN
40          NaN
41          NaN
42          NaN
43          NaN
44          NaN
45          NaN
46          NaN
47          NaN
48          NaN
49          NaN
50          NaN
51          NaN
52          NaN
53          NaN
54          NaN
55          NaN